
@{
    ViewBag.Title = "Editar";
}

<h2>Editar Vendor</h2>

<form action="SalvarEdicao" method="post">
    <div class="form-group">
        <label for="nome">Id</label>
        <input type="text" class="form-control" id="idVendedor" name="idVendedor" value="@ViewBag.Vendedor.idVendedor" readonly />
    </div>

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" value="@ViewBag.Vendedor.Nome" />
    </div>
    <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" id="cpf" name="cpf" value="@ViewBag.Vendedor.CPF" />
    </div>
    <div class="form-group">
        <label for="rg">RG</label>
        <input type="text" class="form-control" id="rg" name="rg" value="@ViewBag.Vendedor.RG" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Salvar" />
    </div>
</form>

